/* CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    /* COLORS */
    --BGCOLOR: #111;
    --COLOR: whitesmoke;
    --VCOS-COLOR: whitesmoke;

    /* VCOS ANIMATION */
    --A: 60px; /* length of lines */
    --B: 10px; /* width of lines */
    --C: calc(var(--B) / 2); /* border-radius of lines */
    --D: calc(
        var(--B) / 2 - calc(var(--C) / 7)
    ); /* this offset aligns the curves at joints */
    --T: 60deg; /* angle of slanted lines */
}

/* GENERAL STYLES */
html {
    background-color: var(--BGCOLOR);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* VCOS ANIMATION */

.vcos__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.vcos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: calc(10 / 3 * var(--A));
    height: var(--A);
    transform: translate(calc(-0.5 * var(--A)), calc(0.5 * var(--A)));
}

.vcos__lines {
    background-color: var(--VCOS-COLOR);
    width: var(--A);
    height: var(--B);
    border-radius: var(--C);
    transform-origin: var(--D);
    position: absolute;
    z-index: -1;
}

.vcos__v .vcos__lines:nth-child(1) {
    transform: translate(calc(var(--A) * 0.15), 0) rotate(calc(-1 * var(--T)))
        scaleX(calc(1 / sin(var(--T))));
}
.vcos__v .vcos__lines:nth-child(2) {
    transform: translate(calc(var(--A) * 0.15), 0)
        rotate(calc(180deg + var(--T))) scaleX(calc(1 / sin(var(--T))));
}

.vcos__c .vcos__lines:nth-child(1) {
    transform: translate(0, 0) rotate(0) scaleX(0.8);
}
.vcos__c .vcos__lines:nth-child(2) {
    transform: translate(0, 0) rotate(-90deg);
}
.vcos__c .vcos__lines:nth-child(3) {
    transform: translate(0, calc(calc(-1 * var(--A)) + calc(var(--D) * 2)))
        rotate(0) scaleX(0.8);
}

.vcos__o .vcos__lines:nth-child(1) {
    transform: translate(0, 0) rotate(0) scale(1);
}
.vcos__o .vcos__lines:nth-child(2) {
    transform: translate(0, 0) rotate(-90deg);
}
.vcos__o .vcos__lines:nth-child(3) {
    transform: translate(0, calc(calc(-1 * var(--A)) + calc(var(--D) * 2)))
        rotate(0) scale(1);
}
.vcos__o .vcos__lines:nth-child(4) {
    transform: translate(calc(var(--A) - calc(var(--D) * 2)), 0) rotate(-90deg);
}

.vcos__s .vcos__lines:nth-child(1) {
    transform: translate(
            calc(
                var(--A) - calc(var(--A) * cos(var(--T)) / sin(var(--T))) -
                    var(--D)
            ),
            calc(calc(-1 * var(--A)) + calc(var(--D) * 2))
        )
        rotate(0) scaleX(0.8);
}
.vcos__s .vcos__lines:nth-child(2) {
    transform-origin: calc(var(--A) - var(--D));
    transform: translate(0, 0) rotate(0) scaleX(0.8);
}
.vcos__s .vcos__lines:nth-child(3) {
    transform-origin: calc(var(--A) - var(--D));
    transform: translate(0, 0) rotate(var(--T)) scaleX(calc(1 / sin(var(--T))));
}
